@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #6b7770;
    margin: 0 0 0.5em 0;
    line-height: 1.3;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
    color: inherit;
}


/* Nav */

body {
    padding-top: 3.25em;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.95);
    background-image: url("images/overlay.png");
    width: 100%;
    height: 3.25em;
    line-height: 3.25em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
}

#nav ul {
    position: relative;
    z-index: 1001;
}

#nav li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
    top: 0;
    position: relative;
    -moz-transition: top .15s ease-in-out;
    -webkit-transition: top .15s ease-in-out;
    -o-transition: top .15s ease-in-out;
    -ms-transition: top .15s ease-in-out;
    transition: top .15s ease-in-out;
}

#nav li>ul {
    display: none;
}

#nav li a,
#nav li span {
    -moz-transition: background-color .075s ease-in-out, color .075s ease-in-out;
    -webkit-transition: background-color .075s ease-in-out, color .075s ease-in-out;
    -ms-transition: background-color .075s ease-in-out, color .075s ease-in-out;
    transition: background-color .075s ease-in-out, color .075s ease-in-out;
    position: relative;
    display: block;
    text-decoration: none;
    color: #6b7770;
    top: -6px;
    padding: 6px 1.5em 0.25em 1.5em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    outline: 0;
}

#nav li:hover,
#nav li.active {
    top: 3px;
}

#nav li:hover a,
#nav li:hover span {
    background: #C1CAC5;
    color: #fff;
}

#nav li.active a,
#nav li.active span {
    background: #C1CAC5;
    color: #fff;
}

#nav li.current a {
    background: #b1ddab;
    color: #fff;
}

.dropotron {
    list-style: none;
    background: #6B7770;
    color: #fff;
    border-radius: 6px;
    line-height: 2.75em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 0;
    text-align: left;
    min-width: 14em;
    margin-top: -1em;
    box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.1);
}

.dropotron li {
    padding-left: 0;
}

.dropotron li>a,
.dropotron li>span {
    display: block;
    color: #D7DAD8;
    text-decoration: none;
    padding: 0 1.25em;
}

.dropotron li:hover>a,
.dropotron li:hover>span {
    color: #fff;
    background: #7B8780;
}

.dropotron li.active>a,
.dropotron li.active>span {
    color: #fff;
    background: #7B8780;
}

.dropotron li:first-child {
    border-top: 0;
}

.dropotron.level-0 {
    margin-top: 1em;
    font-size: 0.9em;
}

.dropotron.level-0:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -1em;
    top: -0.65em;
    border-bottom: solid 1em #6B7770;
    border-left: solid 1em transparent;
    border-right: solid 1em transparent;
}


/* Banner */

#banner {
    position: relative;
    background-image: url("images/overlay.png"), url("images/overlay.png"), url("../../images/banner.jpg");
    background-position: top left, top left, center center;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    z-index: 1;
    padding: 11em 0;
}

#banner .content {
    position: relative;
    background-color: rgba(21, 28, 23, 0.85);
    background-image: url("images/overlay.png"), url("images/highlight.png");
    background-position: top left, center center;
    background-size: auto, 100% 250%;
    background-repeat: repeat, no-repeat;
    text-align: center;
    margin: 0;
    padding: 4em 0 3.5em 0;
}

#banner .content h2 {
    color: #fff;
    font-size: 2.75em;
    margin: 0 0 0.5em 0;
}

#banner .content p {
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #575d59;
    font-size: 1.35em;
    margin: 0 0 1.25em 0;
}

#banner .content .button {
    -moz-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    transition: border-color .2s ease-in-out, color .2s ease-in-out;
    color: #b4b7b5;
    background: transparent !important;
    border: solid 4px #575d59;
    border-color: rgba(87, 93, 89, 0.35);
    font-size: 1.5em;
}

#banner .content .button:hover {
    color: #e4e7e5;
    border-color: rgb(0 255 73 / 85%);
}

#banner .content .button:active {
    color: #f50f0f;
    border-color: #f50f0f;
}

#footer { 
    width: 1300px; 
    background: #77bade !important;
    /* background: #F1F1F1; /* light gray */  
    border-top: 1px solid #D4D4D4; /* 
    dark gray "topline" */ 
    height: 200px;
    margin-left: 14px;
}

section {
    padding: 20px 0;
}

section .section-title {
    text-align: center;
    color: #77bade;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer h7{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
    #footer h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
  }
  }
